header{
    text-align: center;
    background-color: #012965;
    height: 140px;
    place-content: center;
}

#c{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

footer{
    background: transparent;
    font-family: 'Radley';
    text-align: center;
    padding: 1px;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: #012965;
}

footer a:hover{
    color: white;
}