#cu{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem 2rem;
}

form{
    float: left;
    width: 300px;
    margin-left: 4.5rem;
    margin-top: 4.5rem;
    padding: 20px;
    background-color: rgba(1, 41, 101, 0.85);
    color: white;
    border-radius: 15px;
    font-family: 'Onest';
    font-size: large;
}