header{
    text-align: center;
    background-color: #012965;
    height: 7rem;
    place-content: center;
}

body{
    background-image: url('../../assets/GenPics/CPbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#welcome{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

footer{
    background: transparent;
    font-family: 'Radley';
    text-align: center;
    padding: 1px;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: white;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    padding: 30px;
    text-align: center;
    margin: 10px 200px 5px 200px
}

#misc, #misc2 { 
    display: grid;

    text-align: center;
    margin: 0px 200px 10px 200px
}

#main a {
    margin: 10px 10px 0 5px;
    padding: 50px;
    background-color: rgba(1, 41, 101, 0.85);

    color: white;
    text-decoration: none;
    font-family: 'Racing Sans One';
    font-weight: 500;
    font-size: 3em;

    border: 3px solid rgba(1, 41, 101, 0.85);
    border-radius: 10px;
}

#misc a, #misc2 a {
    padding: 10px;
    background-color: rgba(1, 41, 101, 0.85);

    color: white;
    text-decoration: none;
    font-family: 'Racing Sans One';
    font-weight: 700;
    font-size: 2.5em;
    
    border: 3px solid rgba(1, 41, 101, 0.85);
    border-radius: 10px;
}

#main a:hover {
    color: #08024c;
    transition: 0.3s ease;
    transform: scale(1.1);
}

#misc a:hover, #misc2 a:hover {
    color: #08024c;
    transition: 0.3s ease;
    transform: scale(1.15);
}
