nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color:  #6d9ec6;
    width: 100%;
}

/* Navbar links */
nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

body{
    margin: 0;
    font-family: 'Dela Gothic One';
}

#logo{
    float: left; 
    height: 3em; 
    width: 3em; 
    margin-left: 0.5rem;
}

header{
    text-align: center;
    padding: 10px;
    background-color: #e7f4ff;
    color: #b6cfe4;
}

#abt {
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro{
    width: 400px;
    height: 400px;
    border: solid rgba(142, 183, 232, 0.69);
    border-radius: 10px;
    margin: 0 2.5%;
    padding: 50px;
    background-color: rgba(109, 158, 198, 0.5);
}

.intro img{
    width: 200px;
    height: auto;
}

#body{
    background: #b2ddf7;
    background: radial-gradient(circle, rgba(178, 221, 247, 1) 0%, rgba(255, 255, 255, 1) 88%);
    color: white;
    margin: 0;
}

#hi h1{
    color: #6d9ec6;
}

#hero{
    padding: 10% 20%;
    text-align: center;
    font-size: larger;
    color: #6d9ec6;
}

#arrow{
    font-size: 2em;
}

#hi{
    text-align: center;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;

    padding: 30px;
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 10px auto 0 auto;
}

#links a{
    margin: 10px 10px 0 5px;
    padding: 50px;
    background-color: rgba(109, 158, 198, 0.5);

    color: white;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    font-size: 2.5em;

    border-radius: 10px;
}

#main{
    text-align: center;
}

#main h1{
    color: #6d9ec6;
}

footer{
    background: transparent;
    font-family: 'Radley';
    text-align: center;
    padding: 1px;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: white;
}