header{
    text-align: center;
    background-color: #012965;
    height: 140px;
    place-content: center;
}

#so{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

footer{
    background: transparent;
    font-family: 'Radley';
    text-align: center;
    padding: 1px;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: white;
}

body{
    --sb-width: 5.5rem;

    background-image: url('../../assets/GenPics/CPbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

body.sbe{
    --sb-width: 13.5rem;
}

aside{
    position: fixed;
    inset: 0 auto 0 0;
    padding: 0.8rem;
    width: var(--sb-width);

    background-color: #012965;

    transition: width 0.5s ease-in-out;
}

nav{
    height: 100%;
}

nav li:last-child{
    margin-top: auto;
}

nav ul{
    height: 95%;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.2rem;
}

nav a{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem 0.7rem;

    font-family: 'Onest';
    font-size: 1.5rem;
    line-height: 1;
    color: white;
    text-decoration: none;

    border-radius: 0.375rem;

    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
}

nav a.active, nav a:hover, nav a:focus-visible{
    outline: none;
    color: #012965;
    background-color: white;
}

nav a span{
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

.sbe nav a span{
    opacity: 1;
    visibility: visible;
}

.sbe aside .bxs-arrow-right-stroke{
    rotate: 180deg;
}

main{
    margin-left: 5rem;
    padding: 1rem 2rem;
}