#so{
    font-family: 'Dela Gothic One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

main{
    padding: 1rem 2rem;
}

main div{
    display: flex;
    padding: 1rem;
    text-align: left;
    margin: 1.5rem 1.5rem 0 1.5rem;

    background-color: rgba(109, 158, 198, 0.90);
    border-radius: 15px;

    color: white;
    font-family: 'Onest';
}

.link{
    color: white;
}

@media (max-width: 600px){
    main div{
        display: flex;
        flex-direction: column;
    }
}