header{
    text-align: center;
    background-color: #ffe1e9;
    border-bottom: solid 7px #f2bad8;
    height: 150px;
    place-content: center;
}

#so{
    font-family: 'Corinthia';
    font-weight: 700;
    font-size: 6em;
    margin: 0;
}

footer{
    font-family: 'Radley';
    text-align: center;
    padding: 5px;
    background-color: #f1b7d7;
    border-top: solid 5px #df97c2;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: #fff9f1;
}

body{
    background-image: url('../../assets/GenPics/CPbg.jpg'); 
    background-size: 100% 100%;
}