#so{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem 2rem;
}

main div{
    display: flex;
    padding: 1rem;
    text-align: left;
    margin: 1.5rem 1.5rem 0 1.5rem;

    background-color: rgba(1, 41, 101, 0.90);
    border-radius: 15px;

    color: white;
    font-family: 'Onest';
}

#pin{
    color: white;
}