/* general css*/

header{
    text-align: center;
    background-color: #012965;
    height: 6%;
    place-content: center;
}

footer{
    background: transparent;
    font-family: 'Radley';
    text-align: center;
    padding: 1px;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: white;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    gap: 0.2rem;
}

.list a{
    font-family: 'Onest';
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

body{
    background-image: url('../../assets/GenPics/CPbg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


/* ham menu */

.offScreen{
    background-color: #052b64;
    color: white;
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    right: -400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: 0.5s ease;
}

.offScreen.active{
    right: 0;
}

nav{
    padding: 1rem;
    display: flex;
    float: right;
    background-color: #012965;
    color: white;
}

.ham{
    height: 35px;
    width: 35px;
    margin-left: auto;
    position: relative;
}

.ham span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.ham span:nth-child(1){
    top: 25%;
}

.ham span:nth-child(3){
    top: 75%;
}

.ham.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham.active span:nth-child(2){
    opacity: 0;
}

.ham.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.list a.active, .list a:hover{
    outline: none;
    color: #012965;
    background-color: white;
    padding: 0.6rem 0.7rem;
    border-radius: 10px;
    transition: 
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
}