#t{
    font-family: 'Racing Sans One';
    font-weight: 600;
    font-size: 5em;
    color: white;
    margin: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem 2rem;
}

.tCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5px;

    padding: 10px;
    text-align: left;
    margin: 100px 2px 100px 2px;
}

.ti{
    margin: 20px 35px;
    padding: 20px;
    background-color: rgba(1, 41, 101, 0.85);

    color: white;
    text-decoration: none;
    font-family: 'Onest';
    font-size: 1em;

    border: 3px solid rgba(55, 81, 116, 0.85);
    border-radius: 10px;

    place-items: center;
}

.topImg{
    display: inline;
    float: left;
    margin-right: 10px;

    width: 100px;
    height: auto;
}