
.view-container {
    margin-top: 2rem;
    padding: 30px;
    background-color: rgba(1, 41, 101, 0.85);
    border-radius: 15px;
    color: white;
    font-family: 'Onest', sans-serif;
    width: fit-content;
    min-width: 60%;
}

h1 {
    font-family: 'Racing Sans One';
    color: #012965;
    text-align: center;
    font-size: 4em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    border-bottom: 2px solid white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
    .view-container {
        overflow-x: auto;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 20px;
        width: 100%;
    }
}