header{
    text-align: center;
    background-color: #ffe1e9;
    border-bottom: solid 7px #f2bad8;
    height: 150px;
    place-content: center;
}

#welcome{
    font-family: 'Corinthia';
    font-weight: 700;
    font-size: 6em;
    margin: 0;
}

footer{
    font-family: 'Radley';
    text-align: center;
    padding: 5px;
    background-color: #f1b7d7;
    border-top: solid 5px #df97c2;
}

footer a{
    text-decoration: none;
    font-family: 'Radley';
    color: black;
}

footer a:hover{
    color: #fff9f1;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 30px;
    text-align: center;
    margin: 0 200px 0 200px
}

#misc{ 
    display: grid;
    padding: 15px;
    text-align: center;
    margin: 0px 200px 0 200px
}

#main a {
    margin: 10px 10px 0 5px;
    padding: 50px;
    background-color: #ffe1e9;

    color: black;
    text-decoration: none;
    font-family: 'Corinthia';
    font-weight: 500;
    font-size: 3em;

    border: 3px solid #ffe1e9;
    border-radius: 10px;
}

#misc a {
    padding: 10px;
    background-color: #ffe1e9;

    color: black;
    text-decoration: none;
    font-family: 'Corinthia';
    font-weight: 700;
    font-size: 2.5em;
    
    border: 3px solid #ffe1e9;
    border-radius: 10px;
}

#main a:hover {
    color: #df97c2;
}

#misc a:hover {
    color: #df97c2;
}
